{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe{% endblock %}

{% block body %}
<h4>Demande de réinitialisation de mot de passe</h4>
    <div class="container d-flex align-self-center justify-content-center">
        
        {{ form_start(requestPassForm) }}
            {{ form_row(requestPassForm.email) }}
            <button class="btn btn-lg bg-success m-2 text-light" type="submit">Envoyer</button>
        {{ form_end(requestPassForm) }}
    </div>
{% endblock %}