{% extends 'base.html.twig' %}

{% block title %}Zoo Arcadia{% endblock %}

{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="/images/zebra-5220420_1280.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/images/tiger-3264048_1280.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/images/elephants-2923917_1280.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
  
<div class="container">
        <h2 class="titleHome">Bienvenue Au Zoo Arcadia</h2>
          <p class="presentation">
          Notre équipe vous accueille pour partager avec vous ce monde grandeur nature. Découvrez ce parc animalier
          de 30 hectares, entierement autonome où l'essence même de la nature prend tout son sens...
          </p>
</div>
{% endblock %}