

<nav class="navbar navbar-expand-lg bg-success">
    <div class="container-fluid">
      <a class="navbar-brand text-white h2" href="{{ path('app_home') }}">Zoo Arcadia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto  mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link m-2 fs-5 text-white" {{ app.current_route == 'home' ? 'active' : '' }} href="{{ path('app_home') }}">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link m-2 fs-5 text-white" href="#">Service</a>
            </li>
            <li class="nav-item dropdown position-static">
              <a data-bs-dropdown-init class="nav-link dropdown-toggle m-2 fs-5 text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Habitat</a>
                <!-- Dropdown menu -->    
              <div class="dropdown-menu w-100 mt-0 bg-success-subtle" aria-labelledby="navbarDropdown">
                <div class="container">
                  <div class="row my-4">
                    <div class="col-md-4 mb-4 mb-md-0">
                      <div class="bg-image mb-4">
                        <img src="/images/animal-4638681_1280.jpg" class="img-fluid" />
                      </div>
                      <a href="#" class="text-center link-dark link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-body">
                        <h5>Savane</h5>
                        <p>La savane est un écosystème unique caractérisé par ses vastes étendues de prairies herbeuses ponctuées de quelques arbres et arbustes. C'est un habitat où la faune est particulièrement riche et diversifiée, 
                          abritant une multitude d'animaux qui ont su s'adapter aux conditions climatiques souvent extrêmes
                        </p>
                      </a>
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                      <div class="bg-image mb-4">
                        <img src="/images/tiger-500118_1280.jpg" class="img-fluid" />
                      </div>
                      <a href="#" class="text-center link-dark link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-body">
                        <h5>Jungle</h5>
                        <p>La jungle est une immense forêt où poussent de façon très serrée, arbres, broussailles et plantes hautes. Pour vivre, cette végétation très dense a besoin de beaucoup d'eau. 
                        C'est pourquoi elle se situe dans les régions proches de l'équateur où le climat est pluvieux.
                        </p>
                      </a>
                    </div>
                    <div class="col-md-4">
                      <div class="bg-image mb-4">
                        <img src="/images/grey-heron-3888131_1280.jpg" class="img-fluid" />
                      </div>
                      <a href="#" class="text-center link-dark link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover text-body">
                        <h5>Marais</h5>
                        <p>De par l'humidité et la diversité de végétation, ces zones sont très riches en espèces animales, notamment des reptiles amphibies (crocodiliens, serpents constricteurs), 
                        des amphibiens, des oiseaux (aquatique ou non) et des invertébrés divers (insectes, gastéropodes).
                        </p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link m-2 fs-5 text-white" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link m-2 fs-5 text-white" href="{{ path('app_login') }}">Connexion</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>